<ion-header>
  <ion-toolbar color="tertiary">
    <ion-toolbar slot="start" fill="clear" (click)="cerrarChat()">
      <ion-button>
        <ion-icon
          style="color: #fff; font-size: 25px;"
          name="arrow-round-back"
        ></ion-icon>
      </ion-button>
      <ion-title>
        {{ chat?.nombre }}
      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding> </ion-content>

<ul *ngIf="sala">
  <li *ngFor="let mensaje of sala.mensajes">{{ mensaje?.contenido }}</li>
</ul>

<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
    <ion-button color="success" (click)="enviarMensaje()">
      <ion-icon name="send"> </ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
