<ion-header>
  <ion-toolbar color="tertiary">
    <ion-toolbar slot="start" fill="clear" (click)="cerrarChat()">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-title>
        {{ name }}
      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding> </ion-content>

<ion-footer padding>
  <ion-item>
    <ion-textarea></ion-textarea>
    <ion-button color="success">
      <ion-icon name="send"> </ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
