<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon logo" src="../../../assets/icon/logo.png" />
  <ion-item class="e1">
    <ion-label position="floating">Email: </ion-label>
    <ion-input type="text" name="email"></ion-input>
  </ion-item>
  <ion-item class="e2">
    <ion-label position="floating">Contraseña: </ion-label>
    <ion-input type="password" name="contra"></ion-input>
  </ion-item>
  <br />
  <ion-button expand="block">Aceptar</ion-button>
</ion-content>
