<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      FamilyTech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of salasDeChat" (click)="abrirChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h3>
          <b>{{ chat.nombre }}</b>
        </h3>
        <p>{{ chat.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
